h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: tahoma;
}
.svetofor {
  background: darkgrey;
  max-width: 300px; /* не более чем, min-width не менне чем */
  border: 3px solid black;
  margin: 0 auto; /* центрирует светофор по центру страницы*/
  margin-top: 50px;
  box-shadow: 15px -15px 5px rgba(0, 0, 0, .8); /* тень светофора*/
  box-sizing: border-box;
}

.box {
   width: 200px; /* для адаптивности используется min/max-width и min/max-height
   min-height */
   height: 200px;
   border :3px solid black;
   border-radius: 50%; /* на сколько скругляются углы  значения 1-4 например 15% 75% 5% 35%, мы указали одно значение 50%*/
   margin: 15px auto; /* центрирует круги 15px сверху снизу, auto - слева и справа*/
}
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}

.red:hover { /* псевдоклассы исползующиеся всесте с событиями: наведение мыши на объект, использование инпут*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8) , 0 0  30px 15px rgba(255, 0, 0, 0.9);
}
.green:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8) , 0 0  30px 15px rgba(0, 255, 0, 0.9);
}
.yellow:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8) , 0 0 30px 15px rgba(255, 255, 0, 0.9);
}

.red::before, .yellow::before, .green::before { /* before псевдоэлемент*/
  color: black;
  font-family: arial black;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block; /* Строчные элементы - inline Блочные элементы - block Блочнострочный элемент inline-block Спрятать элемент - none Флекс-элемент flex*/
  position: relative /*absolut Абсолютная позиция, relative Относительная, fixed*/;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.red::before {
  content: "На старт";
}
.yellow::before {
  content: "Внимание";
}
.green::before {
  content: "Марш";
}

.red:hover::before, .green:hover::before, .yellow:active::before{
  font-size: 20px; /*увеличивает шрифт до 20 пикселей*/
  transition: font-size 700ms; /*за 700мсек*/
}

/*.heart {
    margin:300px;
    width: 40px;
    height: 40px; 
    background-color: red;
    transform: rotate(45deg);
    position: relative; 
}  
.heart::before,
.heart::after {
    content : ''; /*обязательное свойство
    display: block;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.heart::before {
    top: -20px;
    left: 0;
}
.heart::after {
    top: 0;
    left: -20px;
} */   